ANCHOR_PROVIDER_URL=https://mainnet.helius-rpc.com/?api-key=7bd3a79b-801f-42e5-96e6-423677c671db
# ANCHOR_PROVIDER_URL=https://devnet.helius-rpc.com/?api-key=27fd5be3-97d9-4ba0-b16c-f37dd16d046f
ANCHOR_WALLET=~/.config/solana/id.json

# Optional: admin wallet (if empty, deployer wallet is used)
INITIAL_ADMIN=4wwzmVesYjv9w6uV2pDF3dH367EEAj1GVmRMmyNQGWYH

# Presale initialize params
PRESALE_START_TS=1777551025
PRESALE_END_TS=1781014200
MIN_PURCHASE_MICRO_USD=10000000
SOL_USD_PRICE_UPDATE=7UVimffxr9ow1uXYxsr4LHAcV58mLzhmwaeKvJ1pjLiE

# Mint + allocation params
TOKEN_DECIMALS=9
TOTAL_SUPPLY_TOKENS=10000000000
PRESALE_ALLOCATION_TOKENS=1500000000
MINT_KEYPAIR_PATH=

# Optional: use an already deployed mint and skip local keypair mint management
EXISTING_TOKEN_MINT=6Efe2c9YTfevZPVhtmG2ZLUefLishNWNUnh6Kmqx15Hg

# PDA seed overrides (normally leave as defaults)
PRESALE_SEED=presale_config
TREASURY_SEED=treasury

# Optional flow toggles for deploy script
SKIP_MINT_CREATION=true
SKIP_MINT_SUPPLY=true
SKIP_INITIALIZE=false
SKIP_VAULT_FUND=false
SKIP_METADATA_WIRING=true
RENOUNCE_MINT_AUTHORITY=false